.footer{
    width: 2000px;
    height: 150px;
    background-color: #2C3531;
    display: flex;
    justify-content:space-evenly;
    align-items: center;

}

.footer-icons{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-right: 400px;
}

.footer-links {
    flex: 2; /* Adjust flex value to control the space it occupies */
    display: flex;
    justify-content: space-evenly; /* Distribute links evenly */
    align-items: center;
  }

  .footer-logo{
    padding-left: 400px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
  }


